<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="mycss.css">
    <script src="https://kit.fontawesome.com/e52d09bced.js" crossorigin="anonymous"></script>
    <title>Home | FarmPe</title>
</head>
<body>

<nav class="navbar navbar-exapand-lg sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ms-md-5 brandheader p-2" href="#" style="color: green;">FarmPe</a>
        <div class="me-4">
        <a href="Login.html" class="text-secondary" style="text-decoration: none; font-size: 15px;">Login</a> 
        <span class="fw-bold">|</span>
        <a href="#" class="badge rounded-pill bg-secondary px-3 link-light" style="text-decoration: none; font-size: 15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Sign up</a>
        </div>
    </div>
</nav>


<div class="my-2">
<div class="bannercontainer">
    <img src="homeimg.jpg" alt="mainimg" class="img-fluid" style="width: 100%;height: 600px">
    <div class="centered">
        <div class="display-4 text-white fw-light">We feed you Natural Green</div>
        <div class="text-white fw-lighter" style="font-size: 30px;">Trust Farmers</div>
        <div class="text-white fw-lighter" style="font-size: 20px;">Eat Natural.Live Natural</div>
    </div>
</div>


<div class="container text-center" style="margin-top: 100px;">
    <img src="freshveg.jpg" alt="" class="center" style="border-radius: 50%;width: 250px;height: 250px;">
    <div class="mt-5 display-4 text-muted mb-2">Get fresh veggie at your doorstep</div>
    <h5 class="text-muted mt-3 display-4 mb-5">in just 3 simple steps</h5>
    <div class="row justify-content-center mb-5 rol-cols-1 row-cols-md-1 row-cols-lg-3">
        <div class="col d-flex align-items-center">
            <div class="card mx-5 p-3" style="width: auto;">
                <div class="card-body" >
                    <h5 class="card-title">Add to Cart</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt mollitia ex ducimus vitae itaque facere, dicta iure molestias veritatis sint doloribus perferendis at exercitationem laudantium iste repudiandae ad sed incidunt.
                    </p> 
                </div>
            </div>
            <i class="fas fa-arrow-right fa-2x"></i>
        </div>
        <div class="col d-flex align-items-center">
            <div class="card mx-5 p-3" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Review Cart</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt mollitia ex ducimus vitae itaque facere, dicta iure molestias veritatis sint doloribus perferendis at exercitationem laudantium iste repudiandae ad sed incidunt.
                    </p>       
                </div>
            </div>
            <i class="fas fa-arrow-right fa-2x"></i>
        </div>
        <div class="col d-flex align-items-center">
            <div class="card mx-5 p-3" style="width: auto;">
                <div class="card-body">
                    <h5 class="card-title">Place Order</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt mollitia ex ducimus vitae itaque facere, dicta iure molestias veritatis sint doloribus perferendis at exercitationem laudantium iste repudiandae ad sed incidunt.
                    </p>       
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="container my-5">
    <h2 class="text-center my-5">Our Products</h2>
    <div class="row row-cols-xs-2 row-cols-sm-2 row-cols-md-5 text-center">
        <div class="col mb-4">
            <div class="card h-100" style="width: 15rem;">
                <img src="potato2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vegetables</h5>
                </div>
              </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="width: 15rem;">
                <img src="potato2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fruits</h5>
                </div>
              </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="width: 15rem;">
                <img src="potato2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bakery</h5>
                </div>
              </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="width: 15rem;">
                <img src="potato2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Beverages</h5>
                </div>
              </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="width: 15rem;">
                <img src="potato2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Snacks</h5>
                </div>
              </div>
        </div>
    </div>
</div>



<div class="bg-success p-2">
<h1 class="text-white text-center my-5">Happy Customers</h1>
<diV class="row justify-content-center row-cols-1 row-cols-md-1 row-cols-lg-3 mb-5">
    <div class="col">
    <div class="card mx-5 my-5" style="width: auto;" >
        <div class="card-body text-secondary">
            <h5 class="card-title">John Doe</h5>
            <h6 class="card-subtitle mb-3 text-secondary fw-light">Marketing Head | Infosys</h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius saepe, debitis quaerat animi, eos inventore quos doloremque id porro quae a vero neque similique! Explicabo deserunt maiores quos deleniti.</p>
        </div>
    </div>
    </div>
    <div class="col"> 
    <div class="card mx-5 my-5" style="width: auto;" >
        <div class="card-body  text-secondary">
            <h5 class="card-title">Kevin John</h5>
            <h6 class="card-subtitle mb-3 text-secondary fw-light">Marketing Head | TCS</h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius saepe, debitis quaerat animi, eos inventore quos doloremque id porro quae a vero neque similique! Explicabo deserunt maiores quos deleniti.</p>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card mx-5 my-5" style="width: auto;" >
        <div class="card-body  text-secondary">
            <h5 class="card-title">Alex Hales</h5>
            <h6 class="card-subtitle mb-3 text-secondary fw-light">Marketing Head | Reliance</h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius saepe, debitis quaerat animi, eos inventore quos doloremque id porro quae a vero neque similique! Explicabo deserunt maiores quos deleniti.</p>
        </div>
    </div>
    </div>
</diV>
</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>