<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e52d09bced.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand ms-md-5 brandheader p-2" href="#" style="color: green;">FarmPe</a>
            <div class="navbar-nav me-5">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="Home.html">Home</a></li>
                <li class="nav-item "><a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-bs-toggle="dropdown">Categories</a>
                    <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdownMenuLink2">
                        <div class="d-flex" style="width:auto;">
                            <div class="row ms-2 mt-2">
                                <div class="col ms-3 me-5 text-secondary">
                                    <h6 class="mb-3 text-muted">Vegetables</h6>
                                    <p>Potato</p>
                                    <p>Potato</p>
                                    <p>Potato</p>
                                    <p>Potato</p>
                                    <p>Potato</p>
                                </div>
                                <div class="col border-end">
                                </div>
                                <div class="col ms-3 me-5">
                                    <h6 class="mb-3">Bakery</h6>
                                    <p>Potato</p>
                                    <p>Potato</p>
   
                                </div>
                                <div class="col border-end">
                                </div>
                                <div class="col ms-3 me-5">
                                    <h6 class="mb-3">Fruits</h6>
                                    <p>Potato</p>
                                    <p>Potato</p>
                                    <p>Potato</p>
                                    <p>Potato</p>
                                    <p>Potato</p>
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown"><a class="nav-link" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">Profile</a>
                    <ul class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Your Cart</a></li>
                        <li><a class="dropdown-item" href="#">Help Center</a></li>
                    </ul>
                </li>
                <li class="nav-item"><p class="nav-link">|<span>&nbsp;</span> Welcome Chitrank</p></li>
                <li class="nav-item"><a class="nav-link" href="Home.html">Logout</a></li>
            </div>
        </div>
    </nav>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Account</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Help Center</a></li>
    </ul>
<div>
    <h3 class="mt-5 ms-5">Fruits</h3>
    <div class="d-flex justify-content-center">
    <div class="row">
    <div class="col">
        <div class="card m-5" style="width: 15rem;">
            <div class="d-flex justify-content-center">
            <div class="badge rounded-pill bg-primary w-50 px-3 my-2">Available</div>
            </div>
            <img src="potato2.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Apple</h6>
                <p class="card-subtitle">MRP : <span>&#x20B9;</span>120/kg</p>
                <p class="card-subtitle">FarmPe Price : <span>&#x20B9;</span>99/kg</p>
                <p class="card-subtitle">Delivery Time : 24hrs</p>
                <a href=""><div class="badge rounded-pill bg-primary w-50 px-3 my-2">Add to cart</div></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-5" style="width: 15rem;">
            <div class="d-flex justify-content-center">
            <div class="badge rounded-pill bg-secondary w-50 px-3 my-2">Sold Out</div>
            </div>
            <img src="potato2.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Mango</h6>
                <p class="card-subtitle">MRP : <span>&#x20B9;</span>120/kg</p>
                <p class="card-subtitle">FarmPe Price : <span>&#x20B9;</span>99/kg</p>
                <p class="card-subtitle">Delivery Time : 24hrs</p>
                <a href="" class="disabled"><div class="badge rounded-pill bg-primary w-50 px-3 my-2 ">Add to cart</div></a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5" style="width: 15rem;">
            <div class="d-flex justify-content-center">
            <div class="badge rounded-pill bg-primary w-50 px-3 my-2">Available</div>
            </div>
            <img src="potato2.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Banana</h6>
                <p class="card-subtitle">MRP : <span>&#x20B9;</span>120/kg</p>
                <p class="card-subtitle">FarmPe Price : <span>&#x20B9;</span>99/kg</p>
                <p class="card-subtitle">Delivery Time : 24hrs</p>
                <a href=""><div class="badge rounded-pill bg-primary w-50 px-3 my-2">Add to cart</div></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-5" style="width: 15rem;">
            <div class="d-flex justify-content-center">
            <div class="badge rounded-pill bg-primary w-50 px-3 my-2">Available</div>
            </div>
            <img src="potato2.jpg" alt="" class="card-img-top">
            <div class="card-body">    
                <h6 class="card-title">Kiwi</h6>
                <p class="card-subtitle">MRP : <span>&#x20B9;</span>120/kg</p>
                <p class="card-subtitle">FarmPe Price : <span>&#x20B9;</span>99/kg</p>
                <p class="card-subtitle">Delivery Time : 24hrs</p>
                <a href=""><div class="badge rounded-pill bg-primary w-50 px-3 my-2">Add to cart</div></a>
            </div>
        </div>
    </div>
    </div>
    </div>
    <h3 class="mt-5 ms-5">Vegetables</h3>
    <div class="d-flex justify-content-center">
    <div class="row">
    <div class="col">
        <div class="card m-5" style="width: 15rem;">
            <div class="d-flex justify-content-center">
            <div class="badge rounded-pill bg-secondary w-50 px-3 my-2">Sold Out</div>
            </div>
            <img src="potato2.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Potato</h6>
                <p class="card-subtitle">MRP : <span>&#x20B9;</span>120/kg</p>
                <p class="card-subtitle">FarmPe Price : <span>&#x20B9;</span>99/kg</p>
                <p class="card-subtitle">Delivery Time : 24hrs</p>
                <a href=""><div class="badge rounded-pill bg-secondary w-50 px-3 my-2">Add to cart</div></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-5" style="width: 15rem;">
            <div class="d-flex justify-content-center">
            <div class="badge rounded-pill bg-primary w-50 px-3 my-2">Available</div>
            </div>
            <img src="potato2.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Carrot</h6>
                <p class="card-subtitle">MRP : <span>&#x20B9;</span>120/kg</p>
                <p class="card-subtitle">FarmPe Price : <span>&#x20B9;</span>99/kg</p>
                <p class="card-subtitle">Delivery Time : 24hrs</p>
                <a href=""><div class="badge rounded-pill bg-primary w-50 px-3 my-2">Add to cart</div></a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card m-5" style="width: 15rem;">
            <div class="d-flex justify-content-center">
            <div class="badge rounded-pill bg-primary w-50 px-3 my-2">Available</div>
            </div>
            <img src="potato2.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Cabbage</h6>
                <p class="card-subtitle">MRP : <span>&#x20B9;</span>120/kg</p>
                <p class="card-subtitle">FarmPe Price : <span>&#x20B9;</span>99/kg</p>
                <p class="card-subtitle">Delivery Time : 24hrs</p>
                <a href=""><div class="badge rounded-pill bg-primary w-50 px-3 my-2">Add to cart</div></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card m-5" style="width: 15rem;">
            <div class="d-flex justify-content-center">
            <div class="badge rounded-pill bg-primary w-50 px-3 my-2">Available</div>
            </div>
            <img src="potato2.jpg" alt="" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Cauliflower</h6>
                <p class="card-subtitle">MRP : <span>&#x20B9;</span>120/kg</p>
                <p class="card-subtitle">FarmPe Price : <span>&#x20B9;</span>99/kg</p>
                <p class="card-subtitle">Delivery Time : 24hrs</p>
                <a href=""><div class="badge rounded-pill bg-primary w-50 px-3 my-2">Add to cart</div></a>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</body>
</html>